cmake_install.cmake
CMakeCache.txt
CMakeFiles
example.o
example
Demo/Makefile
.DS_Store
Android/.gradle
Android/local.properties
Android/.idea/workspace.xml
Android/.idea/libraries
Android/build
Android/.idea/modules.xml
Android/app/app.iml
Android/app/build
Android/openCVLibrary2410/build
Android/openCVLibrary2410/openCVLibrary2410.iml
Android/Android.iml
Android/LuminousMossBosses.iml
Android/.idea/dictionaries
Android/.idea/misc.xml
Android/app/src/main/jniLibs
