cmake_install.cmake
CMakeCache.txt
CMakeFiles
example.o
example
Demo/Makefile
.DS_Store
.gradle
local.properties
.idea/workspace.xml
.idea/libraries
build
.idea/modules.xml
app/app.iml
app/build
openCVLibrary2410/build
openCVLibrary2410/openCVLibrary2410.iml
Android.iml
LuminousMossBosses.iml
.idea/dictionaries
.idea/misc.xml
app/src/main/jniLibs
.idea/gradle.xml
app/src/main/libs
app/src/main/obj
src/main/jni/Android.mk
