{% extends "admin_layout.html" %}
{% block body %}
<script src="{{ url_for('static', filename='js/utils.js')}}"></script>
    <div class="container">
    <div class="btn-group" role="group" aria-label="options">
        <a href="/observation_list" class="btn btn-default btn-sm">All</a>
        <a href="/observation_list?verified=1" class="btn btn-default btn-sm">Silene</a>
        <a href="/observation_list?verified=0" class="btn btn-default btn-sm">Not Silene</a>
        <a href="/observation_list?verified=null" class="btn btn-default btn-sm">Unconfirmed</a>
    </div>
    <table class="table-striped table">
        <thead><tr>
        <td>ID</td><td>Icon</td><td>File Name</td><td>Date</td><td>Verified</td>
        </tr></thead>
        <tbody>
        {% for observation in observations %}
            <tr>
            <td>{{ observation.ObsID }}</td>
            <td>
                <img src="{{ url_for('static', filename='thumbs/')}}{{observation.FileName}}">
            </td>
            <td><a href="/observation_view?imageid={{ observation.ObsID }}">{{ observation.FileName }}</a></td>
            <td>{{ observation.Date }}</td>
            <td>
                <select class="form-control" id="id_{{ observation.ObsID }}" onchange="updateSelection({{ observation.ObsID }})">
                    <option value=1 {% if observation.IsSilene == 1 %}selected{% endif %}>Silene</option>
                    <option value=0 {% if observation.IsSilene == 0 %}selected{% endif %}>Not Silene</option>
                    <option value=-1 {% if observation.IsSilene is none() %}selected{% endif %}>N/A</option>
                </select>
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul class="list-inline banner-social-buttons">
    {% if urlargs.page > 0 %}
    {% set pre = urlargs.page -1 %}
    <li>
    <a href="/observation_list?page={{ pre }}{{ urlargs.verified }}" class="btn btn-default btn-sm">Previous Page</a>
    </li>
    {% endif %}
    {% if urlargs.page < urlargs.maxpage %}
    {% set next = urlargs.page +1 %}
    <li>
    <a href="/observation_list?page={{ next }}{{ urlargs.verified }}" class="btn btn-default btn-sm">Next Page</a>
    </li>
    {% endif %}
    </ul>
    </div>
{% endblock %}
<!--</body>
</html>-->
