{% extends "admin_layout.html" %}
{% block body %}
<script src="{{ url_for('static', filename='js/utils.js')}}"></script>
    <div class="row">
        <div class="col-lg-6">
        <ul class="nav nav-tabs nav-justified" role="group" aria-label="options">
            <li role="presentation" {% if urlargs.verified == "" %}class="active"{% endif %}> 
            <a href="/observation_list">All</a>
            </li>
            <li role="presentation" {% if urlargs.verified == "&verified=1" %}class="active"{% endif %}>
            <a href="/observation_list?verified=1">Silene</a>
            </li>
            <li role="presentation" {% if urlargs.verified == "&verified=0"  %}class="active"{% endif %}>
            <a href="/observation_list?verified=0" >Not Silene</a>
            </li>
            <li role="presentation" {% if urlargs.verified == "&verified=null"  %}class="active"{% endif %}>
                <a href="/observation_list?verified=null">Unconfirmed</a>
            </li>
        </ul>
        </div>
        <div class="col-lg-12">
        <table class="table-striped table">
            <thead><tr>
                    <b><td class="col-sm-1 col-md-1">ID</td><td class="col-sm-2 col-md-2">Icon</td><td class="col-sm-3 col-md-3">User ID</td>
                        <td class="col-sm-2 col-md-4">File Name</td><td class="col-sm-2 col-md-1">Date</td><td class="col-sm-3 col-md-2">Verified</td></b>
            </tr></thead>
            <tbody>
            {% for observation in observations %}
                <tr>
                <td>{{ observation.ObsID }}</td>
                <td>
                    <a href="/observation_view?imageid={{ observation.ObsID }}">
                    <img src="{{ url_for('static', filename='thumbs/')}}{{observation.FileName}}">
                    </a>
                </td>
                <td>{{ observation.DeviceType }}-{{ observation.DeviceId }}</td>
                <td><a href="/observation_view?imageid={{ observation.ObsID }}">{{ observation.FileName }}</a></td>
                <td>{{ observation.Date }}</td>
                <td>
                    <select class="form-control" id="id_{{ observation.ObsID }}" onchange="updateSelection('{{ observation.ObsID }}', 'isSilene')">
                        <option value=1 {% if observation.IsSilene == 1 %}selected{% endif %}>Silene</option>
                        <option value=0 {% if observation.IsSilene == 0 %}selected{% endif %}>Not Silene</option>
                        <option value=-1 {% if observation.IsSilene is none() %}selected{% endif %}>N/A</option>
                    </select>
                </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="input-group input-group-sm">
            <span class="input-group-btn" aria-label="page">
                <!--<ul class="list-inline banner-social-buttons">-->
            
            <a href="/observation_list?page=0{{ urlargs.verified }}" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-step-backward"> </span>
            </a>
            {% set pre = urlargs.page -1 %}
            <a {% if urlargs.page == 0 %} disabled {% endif %}
            href="/observation_list?page={{ pre }}{{ urlargs.verified }}" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-triangle-left"> </span>
            </a>
            <p class="btn btn-default btn-sm" disabled >page {{ urlargs.page }} </p>
            {% set next = urlargs.page +1 %}
            <a {% if urlargs.page == urlargs.maxpage %} disabled {% endif %} 
            href="/observation_list?page={{ next }}{{ urlargs.verified }}" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-triangle-right"> </span>
            </a>
            <a href="/observation_list?page={{ urlargs.maxpage }}{{ urlargs.verified }}" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-step-forward"> </span>
            </a>
            </span>
        </div>
    </div>
    </div>
{% endblock %}
<!--</body>
</html>-->
