{% extends "admin_layout.html" %}
{% block body %}
<script src="{{ url_for('static', filename='js/utils.js')}}"></script>
    <div class="row">
        <div class="col-lg-6">
                <a href="/_retrain_bag_of_words" id="bag_of_words" class="btn btn-default btn-lg"
                    {% if isrunning %} disabled {% endif %}
                    >Retrain Bag of Words</a>

                <a href="/save_bag_of_words" id="bag_of_words_download" class="btn btn-default btn-lg"
                    {% if isrunning %} disabled {% endif %}
                    >Download Current Bag of Words .xml</a>

                <h3 id="test_status"> {% if isrunning %} Test is currently running {% endif %}</h3>

           <!-- <ul class="list-inline banner-social-buttons">
                <li>
                <a href="/_retrain_bag_of_words" class="btn btn-default btn-lg">Retrain Bag of Words</a>
                </li>
                <li>
                <a href="/_retrain_general" class="btn btn-default btn-lg">Retrain Classifier</a>
                </li>
            </ul> -->
        </div>
    </div>
<script src="{{ url_for('static', filename='js/xml.js')}}"></script>
{% endblock %}
<!--</body>
</html>-->
