{% extends "admin_layout.html" %}
{% block body %}
<script src="{{ url_for('static', filename='js/utils.js')}}"></script>
    <div class="row">
    <div class="container content-section text-center">
         {% if error %}<label class="control-label" for="inputError"><strong>Error:</strong> {{ error }}</label>{% endif %}
        <form class="form-horizontal" action="{{ url_for('settings') }}" method=post>
            <div class="form-group form-group-lg">
                <label class="col-sm-2 control-label" for="formGroupInputLarge">Current Passowrd:</label>
                <div class="col-sm-10">
                    <input class="form-control" type="password" id="password" placeholder="old password" name=password>
                </div>
            </div>
            <div class="form-group form-group-lg">
                <label class="col-sm-2 control-label" for="formGroupInputLarge">New Password:</label>
                <div class="col-sm-10">
                    <input class="form-control" type="password" id="signup_password" placeholder="password" name=spassword>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label" for="formGroupInputLarge" id="password_status">[Strength]</label>
                <label class="col-sm-10 control-label" for="formGroupInputLarge">
                    *1 digit, 1 upper case, 1 lower case, 6 in length
                </label>
            </div>
            <div class="form-group form-group-lg">
                <label class="col-sm-2 control-label" for="formGroupInputLarge">Confirm New Password:</label>
                <div class="col-sm-10">
                    <input class="form-control" type="password" id="signup_confirm_password" placeholder="confirm password" name=sconfirm_password>
                </div>
            </div>
            <div class="form-group form-group-lg">
                <div class="col-sm-2">
                <input class="btn btn-default" type=submit id="signup_submit" disabled value="Change Password">
            </div>
            </div>
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/signin_check.js') }}"></script>
{% endblock %}
<!--</body>
</html>-->
